<div class="container form-container">
  <h1>Create a new bookmark</h1>
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Add bookmark to list", class: "btn btn-success"%>
  <% end %>
</div>
